#jsoneditor {
    width: 100%;
    height: 100%;
}

body,
html {
    font-family: "DejaVu Sans", sans-serif;
    font-size: 12px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #1d1f21;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tabs {
    height: 30px;
    display: flex;
    background: #25282c;
}

.tabs .tab {
    height: 100%;
    padding: 0 10px;
    color: #666;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tabs .has-change {
    position: absolute;
    right: 10px;
    top: 11px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #3575f5;
}

.tabs .tab:hover {
    background: #1d1f21;
}

.tabs .tab:last-child:hover {
    background: #25282c;
}

.tabs .tab:last-child img:hover {
    content: url('../images/add.png');
}

.tabs .tab:hover .icon-close {
    visibility: visible;
}

.tabs .tab:hover .has-change {
    display: none;
}

.tabs .active {
    background: #1d1f21;
    color: #fff;
}

.tabs .tab img {
    width: 16px;
}

.tabs .tab .icon-close {
    margin-left: 10px;
    width: 8px;
    visibility: hidden;
}

.json-editor {
    flex: 1;
}

.editor-container {
    height: 100%;
}

code {
    background: #f5f5f5;
}

.jsoneditor-menu {
    background-color: #1d1f21;
    border-bottom: 1px #282a2e solid;
}

.jsoneditor {
    border: none;
}

.ace_search_field {
    margin-top: 1px;
}

div.jsoneditor-tree,
div.jsoneditor textarea.jsoneditor-text {
    background-color: #1d1f21;
    color: #ccc;
}

div.jsoneditor-field,
div.jsoneditor-value {
    color: #ccc;
}

.jsoneditor-navigation-bar {
    background: #25282c;
    color: #C5C8C6;
    border: none;
}

.jsoneditor-search,
.jsoneditor-frame {
    background-color: #25282c;
    padding: 0 3px;
}

.jsoneditor-frame input[type="text"] {
    padding: 3px 4px;
    background-color: #25282c;
    color: #fff;
}

.jsoneditor-statusbar {
    background: #1d1f21;
    border-top: 1px #25282c solid;
}

.ace-tomorrow-night .ace_marker-layer .ace_selection {
    background: #666;
}