<!DOCTYPE HTML>
<html>

<head>
    <title>JSON Editor</title>
    <link href="lib/jsoneditor/jsoneditor.min.css" rel="stylesheet" type="text/css" />
    <link href="resources/css/style.css" rel="stylesheet" />
</head>

<body>
    <div id="app">
        <template>
            <div class="tabs" v-show="editors.length>0">
                <template v-for="(editor,index) in editors">
                    <div class="tab" :class="{active:index==selectedIndex}" :title="editor.filePath" :data-index="index" @click="SwitchTab">
                        {{editor.title}}
                        <div class="has-change" v-show="editor.hasChange"></div>
                        <img class="icon-close" :data-index="index " src="resources/images/close.png" @click="CloseTab" />
                    </div>
                </template>
        <div @click="AddTab" class="add tab" title="Add new tab"><img src="resources/images/add-def.png" /></div>
    </div>
    <div class="json-editor">
        <template v-for="(editor,index) in editors">
                    <div class="editor-container" :id="editor.id" v-show="index==selectedIndex"></div>
                </template>
    </div>
    </template>
    </div>
    <script src="lib/ace/ace.js"></script>
    <script src="lib/jsoneditor/jsoneditor-minimalist.min.js"></script>
    <script src="lib/vue/vue.min.js"></script>
    <script src="resources/js/json.js"></script>
</body>

</html>